.loginpage {
    background: url('signup1.jpg') no-repeat right fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginForm {
    background: rgba(19, 159, 159, 0.1); 
    padding: 30px;
    border-radius: 10px;
    margin-right: 60%;
    margin-left: 10%;
    backdrop-filter: blur(10px);
    /* text-align: center; */
    border: 1px solid rgba(255, 255, 255, 0.205);  
  }  
  
  .label1 {
    color: #fff;
    font-size: 18px;
  }
  
  .input1 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); 
    color: #fff;
    font-size: 16px;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #51585632, #294b47); 
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    /* transition: background 0.3s ease; */
  }
  
  .loginButton:hover {
    background: linear-gradient(to right, #033c36, #3e9596); 
  }
  
  .social {
    margin-top: 20px;
  }
  
  .social a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .social i {
    margin-right: 5px;
  }
  
  .tag1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  